* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 20px;
    font-size: 80px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {

    background-color: #a200ff;
}

#paper {

    background-color: #65d30b;
}

#scissors {

    background-color: #1505ec;
}

p {
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
}

.pontos-human span {
    color: aqua;
}

.pontos-maquina span {
    color: brown;
}

@media screen and (max-width:620px) {

    button {
        padding: 15px;
        font-size: 40px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        transition: opacity 0.5s ease-in-out;

    }


}